
.DS_Store

.idea/

AssDiffSensTable.py

AssemblePoissonData.py

AssHpTable.py

AssMainTable.py

AssOutSamTable.py

AssParamTable.py

AssQuantTable.py

AssResTable.py

AssTable.py

AssTableRet.py

RunHelmoltz.py

RunSinglePoisson.py

SimulateHelmoltz.py

SimulatePoisson.py

CollectErrorDataAbl.py

CollectErrorDataMoreS.py

CollectErrorData.py

ComputeAllOutSam.py

ComputeErrorDiffSens.py

ComputeErrorOutSamp.py

ComputeErrorRes.py

ComputeErrorsTrain.py

ComputeErrRetrain.py

ComputeErrRetrainings.py

ErrRadRet.py

GetBesr.py

GetBestAbl.py

PlotSnaps.py

TSamSens.py

RunBPMSamples.py

RunDiffTS.py

RunNioDiffTS.py

RunBPModel.py

RunRegNIO.py

RunRetrainMS.py

GenerateDataForOpt.py

Problems/PoissonSinLowRes.py

__pycache__/

data/
